streamlit
langchain
langchain-core
langchain-community
openai
tiktoken
sentence-transformers
faiss-cpu
selenium
chromium-browser
webdriver-manager
beautifulsoup4
unstructured
python-dotenv
